li.checkbox {
  background-position: 0 0;
}

a.selected {
  color: #275ff5;
  text-decoration: none;
  border-color: #275ff5;
}

.radio-option {
  margin-right: 12px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0px;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 0px;
}
