/* you can make up upload button and sample style by using stylesheets */
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.fixed {
  position: fixed;
  z-index: 999;
  left: 0px;
  top: 50px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125);
}
