.header {
  height: 50px;
  background: #1890ff;
  padding: 0;
  display: flex;
  align-items: stretch;
}

.logo {
  width: 200px;
  padding: 10px 18px;
}

.navbar {
  background: #4285f4;
  flex-grow: 1;
}

.userbar {
  background: #4285f4;
}

.avatar {
  width: 64px;
  padding: 0 18px 0 0;
  /* flex-grow: 1; */
}
