.aside-top {
  color: rgba(255, 255, 255, 0.65);
  min-height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  background: #21283b;
}

.aside-top-label {
  flex-grow: 1;
  padding: 0 0 0 18px;
}

.aside-top-icon {
  float: right;
}

.ele-operation {
  margin: 0 8px 0 0;
}

.layout-content {
  display: flex;
  align-items: stretch;
}

.layout-content-aside {
  display: inline-block;
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  flex: 0.2;
}

.layout-content-inner {
  display: inline-block;
  background: rgb(255, 255, 255);
  overflow: hidden;
  flex: 1;
}

.list-page {
  display: flex;
  align-items: stretch;
}

.list-page-aside {
  display: inline-block;
  min-height: 760px;
  max-height: 800px;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 8px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  flex: 0.2;
}

.list-page-content {
  display: inline-block;
  flex: 1;
}

.list-page-content-toolbar {
  flex: 1;
}

.list-page-content-buttonbar {
  margin-bottom: 10px;
}

.list-page-content-table {
  margin-top: 10px;
}

.view-page {
}

.view-page-content {
  margin: 24px 0 0;
}

.toolbar-fixed {
  position: fixed;
  z-index: 999;
  left: 0px;
  top: 50px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125);
}
